form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  margin: 10% 0;
  min-height: 200px;
  background-color: rgba(33, 33, 33, 0.3);
  align-items: center;
}

form button {
  color: black;
}
